<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a (click)="home()" class="logo" style="margin-top: 30px; color: #8261ee;">
                     <span style="font-size: 18px; font-weight: 600;">LEARN LANGUAGE</span>
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li><a href="#">Ôn tập</a></li>
                      <li><a href="#">Đề thi</a></li>
                      <li *ngIf="!checkLogin()"><a (click)="login()">Đăng nhập</a></li>
                      <li *ngIf="checkLogin()"><a (click)="logout()">Đăng xuất</a></li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
