<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <ul class="social">
                  <li style="font-size: 18px; font-weight: 600;">Gmail: trinhdangkhoi@gmail.com</li>
                  <li style="font-size: 16px; font-weight: 600;">Tel: 0994358462</li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <p class="copyright">Copyright &copy; 2021 LEARN LANGUAGE</p>
          </div>
      </div>
  </div>
</footer>
